/* You can add global styles to this file, and also import other style files */
$base-color: #c6538c;
$border-dark: rgba($base-color, 0.88);

@use '@angular/material' as mat;

@include mat.core();

.alert {
  border: 1px solid $border-dark;
}
